<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AggMe.Bio - Crea y Comparte Perfiles Sociales</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="./style/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">AggMe 🛜</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Perfiles Públicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./auth/login">Acceder</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2>Bienvenido a AggMe.Bio 🛜</h2>
        <p>Selecciona tu nombre de usuario y comienza a usar la app:</p>
        <form id="usernameForm">
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Nombre de usuario">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Comenzar</button>
        </form>
        <div class="mt-4 text-center">
            <p>O accede usando Google:</p>
            <a href="#" class="btn btn-danger btn-block">Iniciar sesión con Google</a>
        </div>
    </div>

    <div class="container mt-5">
        <h2>Últimos usuarios públicos registrados</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="card user-card">
                    <div class="card-body d-flex flex-column">
                        <img src="https://avatars.dicebear.com/api/adventurer-neutral/mail%40ashallendesign.co.uk.svg"
                            alt="User 1">
                        <h5 class="card-title">@avaldesa007 <i class="fas fa-check-circle verified-icon"></i></h5>
                        <p class="card-text small text-muted">Visto 10 veces</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card user-card">
                    <div class="card-body d-flex flex-column">
                        <img src="https://avatars.dicebear.com/api/adventurer-neutral/mail%40ashallendesign.co.uk.svg"
                            alt="User 2">
                        <h5 class="card-title">@elo_</h5>
                        <p class="card-text small text-muted">Visto 5 veces</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto">
        <p>AggMe.Bio &copy; 2023</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="./js/validation.js"></script>
</body>

</html>